<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 文件不存在</title>
</head>
<body>
<div style="width:900px;height: 200px; margin: 0 auto;">
    <div style="width: 100%;text-align: center;border-bottom: dotted #4A47B1 2px;padding-bottom: 20px;">
        <span style="font-size:50px;font-weight: bolder;color: red;">404</span>
        <span style="font-size: 30px;font-weight: bolder"> —— 文档不存在</span>
    </div>
    <div style="width:100%;height: 200px; margin-top: 20px;">
        请检查项目(模块)配置文件或接口是否存在
    </div>


</div>
</body>
</html>